{% extends "base.html" %}

{% block title %} Event Detail {% endblock %}

{% block content %} 

{% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
{% endif %}

    {% include 'events/_event_card.html' %}
    
    <!-- extra template-specific details go here, after the include -->
    <p>{{ event.description }}</p>  
    <p>{{ event.is_cancelled }}</p>


    <nav class = "sub-nav"></nav>

        {% if event.is_cancelled %}
        <p>This event has been cancelled</p>
        <a href="{% url 'event-list' %}"> Back to Event List</a>
    
        {% else %}
            {% if request.user.is_staff %}
            <a href= "{% url 'event-edit' event.pk %}">Edit Event</a>
            <a href="{% url 'event-delete' event.pk %}">Delete Event</a>
            <a href="{% url 'event-cancel' event.pk %}">Cancel Event</a>
            <a href="{% url 'event-participants' event.pk%}">Event Participant</a>
    
            {% else %}

                {% if is_registered %}
                    <form action="{% url 'event-leave' event.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" name="action_type" value ="run_action"> Leave Event </button>
                    </form>

               {% else %}
                    <form action="{% url 'event-join' event.pk %}" method="post">
                        {% csrf_token %}
                        <button type="Submit" name="action_type" value = "join_event"> Join Event </button>
                    </form>

               {% endif %}
           {% endif %}
        {% endif %}
    </nav>

</div>

<a href="{% url 'event-list' %}"> Back to Event List</a>

{% endblock %}

