{% extends "base.html" %}

{% block title %} Event List {% endblock %}

{% block content %} 

{% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div class = "event-container">
    <nav class = "sub-nav">
        {% if request.user.is_staff %}
        <a href="{% url'event-create' %}"> Create Event </a>
        {% endif %}

{% for event in events %}
    <div class = "event-card">
        <h2> {{ event.title }} </h2>
        <p> {{ event.description }}</p>
        <p> {{ event.date }}</p>
        <p> {{ event.capacity }}</p>
        <p> {{ event.location }}</p>
        <p> {{ event.category }}</p>
        <a href ="{% url 'event-detail' event.pk %}"> Events Details </a>
    </div>

{% empty %}
<p>No events available </p>

{% endfor %}

</div>

{%  endblock %}