{% extends "base.html" %}

{% block title %} My Events {% endblock  %}

{% block content %}

{% if messages %}
<ul>
    {% for message in messages  %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h1> My Registered Events </h1>

{% for event in events  %}
    <div class = "event-list">
        <h2> {{ event.title }} </h2>
        <p> {{ event.description }}</p>
        <p> {{ event.date }}</p>
        <p> {{ event.capacity }}</p>
        <p> {{ event.location }}</p>
        <p> {{ event.category }}</p>
        {# allows participants to get more information about an event#}
        <a href="{% url 'event-detail'  event.pk%}">Event Details </a>

    </div>

{% empty %}
<p>You are yet to register for any event</p>

{% endfor %}
   
<a href="{% url 'event-list' %}"> Back to Event List</a>

{% endblock content %}